@charset "Utf-9";

body{
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

h1{
    color:blueviolet;
    background-color:aquamarine;

}

p{
    color: brown;
}

